@font-face {
    font-family: Open Sans SemiBold; /* Имя шрифта */
    src: url(../fonts/OpenSansSemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans ExtraBold; /* Имя шрифта */
    src: url(../fonts/OpenSansExtraBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans Regular; /* Имя шрифта */
    src: url(../fonts/OpenSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0;
}

.block1 {
    background: url(../image/image1.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 801px;

}

.block1 header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    justify-content: space-between;
    padding: 0 209px;
}

.block1__left-side {
    display: flex;
    flex-wrap: wrap;
}

.block1__left-side input {
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.button-search {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 22px;
    padding-top: 3px;
}

.block1 .logo {
    margin-right: 15px;
}

.block1__left-side p{
    font-size: 19px;
    font-family: 'Open Sans SemiBold';
    margin: 12px 0;
}

.block1__right-side {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.block1__right-side button {
    background: rgba(0,0,0,0);
    border:none;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block1__right-side button:hover {
    cursor: pointer;
    border-bottom: 2px black solid;
}

.block1__right-side div {
    margin-left: 73px;
}

.block1__right-side button:nth-child(2) {
    margin-left: 39px;
}

.block1__right-side button:nth-child(3) {
    margin-left: 40px;
}

.block1__right-side-navicon div {
    width: 21px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.block1__right-side-navicon {
    cursor: pointer;
}

.block1 main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 87px;
}

.block1 main h1 {

    margin-left: 93px;
    margin-bottom: 36px;
    margin-top: 68px;

    font-family: 'Open Sans ExtraBold';
    line-height: 85px;
    font-size: 72px;
}

.block1 main span {
    color: #FF9C41;
}

.block1 main p {
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
    margin-right: 192px;
    line-height: 24px;
}


.block1 footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 102px;
}

.block1 footer button {
    cursor: pointer;
    background: #FF9C41;
    border: none;
    border-radius: 2em;
    width: 230px;
    height: 55px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block1__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 156px;
}

.block1 footer img {
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin: 0 13px;
}

.block1 footer img:hover {
    filter: invert(76%) sepia(61%) saturate(2775%) hue-rotate(329deg) brightness(105%) contrast(103%);
}

.block2 {
    color: white;
    display: flex;
    flex-direction: column;
    background: url(../image/image2.png) no-repeat;
    background-size: cover;
    padding-left: 216px;
    padding-top: 84px;
    height: 721px;
}

.block2 h1 {
    font-size: 70px;
    font-family: 'Open Sans ExtraBold';
    margin-bottom: 42px;

}

.block2 h2 {
    font-size: 34px;
    font-family: 'Open Sans ExtraBold';
    line-height: 42px;
    margin-bottom: 0;
    flex-basis: 100%;
    height: 32%;
}

.block2__info {
    display: flex;
}


.block2__learn-more {
    font-family: 'Open Sans SemiBold';
    border-bottom: 1px white solid;
    font-size: 20px;
    width: 112px;
    height: 24px;
    align-self: flex-end;
}

.block2_info-text {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    line-height: 24px;
    flex-basis: 100%;
    margin-top: 0;
    height: 50%;
}

.block2__learn-more:hover {
    cursor: pointer;
    color: #FF9C41;
    border-bottom: 1px #FF9C41 solid;
}

.block2__item {
    display: flex;
    flex-wrap: wrap;
    width: 234px;

}

.block2__info div:nth-child(1) {
    margin-right: 142px;
}

.block2__info div:nth-child(2) {
    margin-right: 145px;
}

.block3__title {
    display: flex;
    padding-top: 170px;
}

.block3__title p {
    font-size: 18px;
    font-family: 'Open Sans Regular';
    line-height: 26px;
}

.block3 h2 {
    font-size: 24px;
    font-family: 'Open Sans ExtraBold';
}

.block3__title h2 {
    margin-left: 217px;
    margin-right: 95px;

    line-height: 35px;
}

.block3__description p {
    font-size: 16px;
    font-family: 'Open Sans Regular';
    line-height: 25px;
}

.block3__description p:nth-of-type(1) {
    margin-bottom: 62px;
    line-height: 26px;
}

.block3__description p:nth-of-type(2) {
    margin-bottom: 62px;
}

.block3 .plyr__volume {
    margin-right: 20px;
}

.block3__description h2:nth-child(1) {
    margin-top: 0;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
     background: none;
    color: orange;
}

.block3__main {
    display: flex;
    flex-wrap: wrap;
    height: 864px;
    width: 100%;
    padding-top: 168px;
}

.block3 .plyr{
    width: 782px;
    height: 682px;
    margin-right: 129px;
}

.block3 .plyr__progress__buffer {
    background: white;
}

.block3 .plyr--full-ui input[type=range]{
    color: orange;
}

.block3 .plyr__control {
    color:orange;
}

.block3 .plyr__controls > button:first-child {
    right: 562px;
}

.plyr [hidden] {
    display: block !important;
}

.block3 .plyr__controls {
    height: 112px;
    display: none;
}

.block3 .plyr__progress{
    width: 100%;
    left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 100px;
    margin-right: 13px;
    position: absolute;
    bottom: 0;
    height: 19px;
}

.block3 .plyr__progress__buffer {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.block3 video {
    height: 100%;
}

.block3 .plyr__video-wrapper {
    height: 100%;
}

.block3 .plyr__control--overlaid {
    background: url(../image/play.svg) no-repeat;
    background-size: cover;

    width: 110px;
    height: 110px;
}

.block3 .plyr__control--overlaid svg{
    display: none;
}

.block3__description {
    width: 649px;
}

/* This is purely for the demo */
.container {
    max-width: 800px;
    margin: 0 auto;
}

.block4 {
    display: flex;
    height: 803px;
    background: url(../image/image3@2x.png) no-repeat;
    background-size: cover;
    justify-content: flex-start;

    /*for button*/
    position: relative;
    /*for button*/

}

.block4__left-side {
    flex-basis: 46%;
    padding-top: 190px;
}

.block4 h1 {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 45px;
    font-family: 'Open Sans ExtraBold';
}

.block4 h2 {
    margin-bottom: 9px;
    font-size: 24px;
    font-family: 'Open Sans ExtraBold';
}

.block4 p {
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
    line-height: 24px;
    margin-bottom: 87px;
}

.block4__left-side {
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 570px;
    padding-top: 190px;
    padding-left: 216px;
}


.block4__button-view {
    cursor: pointer;
    background: rgba(0,0,0,0);
    border: 2px #FF9C41 solid;
    border-radius: 2em;
    width: 230px;
    height: 55px;
    color: #FF9C41;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block4__button-next {
    width: 60px;
    border: none;
    padding: 0;
    height: 60px;
    font-size: 46px;
    position: absolute;
    border-radius: 100px;
    left: 47%;
    font-weight: bold;
    top: 88%;
    background: white;
    cursor: pointer;
}


.block4__page-line {
    background: #333333;
    width: 2px;
    height: 158px;
}

.block5 {
    display: flex;
    padding-top: 110px;
    flex-direction: column;
}

.block5 main {
    padding-left: 215px;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
}
.block5__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 75px;
}

.block5__description h1 {
    font-size: 45px;
    font-family: 'Open Sans ExtraBold';
    margin-bottom: 42px;
    flex-basis: 100%;
}

.block5__description h2 {
    flex-basis: 43%;
    font-size: 24px;
    font-family: 'Open Sans ExtraBold';
}

.block5__description p {
    font-size: 18px;
    font-family: 'Open Sans Regular';
    color: #676767;
    flex-basis: 43%;
}

.block5__audio-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 216px;
}
.block5__audio-item {
    flex-basis: 29%;
    margin-bottom: 52px;
}

.block5 audio {
    width: 369px;
    height: 362px;
}

.block5__audio-item p {
    font-size: 16px;
    font-family: 'Open Sans Regular';
    margin-top: 8px;
}

.block5__audio-item h2 {
    font-family: 'Open Sans ExtraBold';
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.block5 footer {
    display: flex;
    padding-top: 137px;
    background: url(../image/image4.png) no-repeat;
    background-size: cover;
    height: 535px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 401px;
}

.block5 footer h2 {
    font-size: 45px;
    font-family: 'Open Sans ExtraBold';
    color: white;
    height: 65px;
    margin: 0;
    margin-bottom: 70px;
}

.block5 input {
    color: white;
    font-size: 18px;
    font-family: 'Open Sans Regular';
    height: 42px;
    border: none;
    width: 499px;
    margin-right: 67px;
    border-bottom: 2px white solid;
    background: rgba(0,0,0,0);
}

.block5__send-request {
    cursor: pointer;
    background: white;
    padding: 0;
    border: none;
    border-radius: 2em;
    width: 230px;
    height: 55px;
    color: #FF9C41;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block6 {
    margin-bottom: 159px;
}

.block6__photo-gallary {
    display: flex;
    justify-content: flex-end;
}

.block6 main h2{
    font-size: 45px;
    font-family: 'Open Sans ExtraBold';
    margin-top: 13px;
    margin-bottom: 90px;
    margin-left: 215px;
}

.block6__photo-gallary h3 {
    color: white;
    font-size: 35px;
    font-family: 'Open Sans ExtraBold';
    margin-left: 83px;
    margin-bottom: 48px;
    display: none;
}

.block6__gallary-item {
    width: 417px;
    height: 746px;
    display: flex;
    align-items: flex-end;
}

.block6__photo-gallary div:hover {
    opacity: 0.3;
    cursor: pointer;
}

.block6__photo-gallary div:hover h3{
    display: initial;
}

.block6__photo-gallary div:nth-child(1) {
    background: url(../image/project1.png) no-repeat;
}

.block6__photo-gallary div:nth-child(2) {
    background: url(../image/project2.png) no-repeat;
}

.block6__photo-gallary div:nth-child(3) {
    background: url(../image/project3.png) no-repeat;
}

.block6__photo-gallary div:nth-child(4) {
    background: url(../image/project4.png) no-repeat;
    width: 132px;
}

.block7 {
    display: flex;
    padding-top: 50px;
    border-top: 1px black solid;

    font-size: 14px;
    font-family: 'Open Sans Regular';
}

.block7__company-info {
    display: flex;
    flex-basis: 65%;
    flex-wrap: wrap;
    margin-left: 216px;

}

.block7__company-info p:hover {
    cursor: pointer;
}

.block7__company-info div:nth-child(1) {
    margin-right: 100px;
}

.block7__company-info div:nth-child(2) {
    margin-right: 87px;
}

.block7__company-info div:nth-child(3) {
    margin-right: 83px;
}

.block7__company-info div:nth-child(4) {
    margin-right: 53px;
}

.block7__company-info p:first-child {
    font-size: 16px;
    font-family: 'Open Sans ExtraBold';
    margin-top: 0;
}

.block7__icons {
    margin-bottom: 72px;
}

.block7__icons img {
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin-right: 24px;
}

.block7__icons img:last-child {
    margin-right: 0;
}

.block7__icons img:hover {
    filter: invert(76%) sepia(61%) saturate(2775%) hue-rotate(329deg) brightness(105%) contrast(103%);
}


.block7__copyright {
    margin-left: 5px;
    line-height: 23px;
}
