@font-face {
    font-family: Open Sans SemiBold; /* Имя шрифта */
    src: url(../fonts/OpenSansSemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans ExtraBold; /* Имя шрифта */
    src: url(../fonts/OpenSansExtraBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans Regular; /* Имя шрифта */
    src: url(../fonts/OpenSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0 8%;
}

.block1 {
    background: url(../image/image1.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 801px;

}

.block1 header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    justify-content: space-between;
    padding: 0 209px;
}

.block1__left-side {
    display: flex;
    flex-wrap: wrap;
}

.block1__left-side input {
    background: rgba(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.button-search {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 22px;
    padding-top: 3px;
}

.logo {
    margin-right: 15px;
}

.block1__left-side p{
    font-size: 19px;
    font-family: 'Open Sans SemiBold';
    margin: 12px 0;
}

.block1__right-side {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.block1__right-side button {
    background: rgba(0,0,0,0);
    border:none;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block1__right-side button:hover {
    cursor: pointer;
    border-bottom: 2px black solid;
}

.block1__right-side div {
    margin-left: 73px;
}

.block1__right-side button:nth-child(2) {
    margin-left: 39px;
}

.block1__right-side button:nth-child(3) {
    margin-left: 40px;
}

.block1__right-side-navicon div {
    width: 21px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.block1__right-side-navicon {
    cursor: pointer;
}

.block1 main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 87px;
}

.block1 main h1 {

    margin-left: 93px;
    margin-bottom: 36px;
    margin-top: 68px;

    font-family: 'Open Sans ExtraBold';
    line-height: 85px;
    font-size: 72px;
}

.block1 main span {
    color: #FF9C41;
}

.block1 main p {
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
    margin-right: 192px;
    line-height: 24px;
}


.block1 footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 102px;
}

.block1 footer button {
    cursor: pointer;
    background: #FF9C41;
    border: none;
    border-radius: 2em;
    width: 230px;
    height: 55px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
}

.block1__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 156px;
}

.block1 footer img {
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin: 0 13px;
}

.block1 footer img:hover {
    filter: invert(76%) sepia(61%) saturate(2775%) hue-rotate(329deg) brightness(105%) contrast(103%);
}

.block2 {
    color: white;
    display: flex;
    flex-direction: column;
    background: url(../image/image2.png) no-repeat;
    padding-left: 216px;
    padding-top: 84px;
    height: 721px;
}

.block2 h1 {
    font-size: 70px;
    font-family: 'Open Sans ExtraBold';
    margin-bottom: 42px;

}

.block2 h2 {
    font-size: 34px;
    font-family: 'Open Sans ExtraBold';
    line-height: 42px;
    margin-bottom: 0;
    flex-basis: 100%;
    height: 31%;
}

.block2__info {
    display: flex;
}


.block2__learn-more {
    font-family: 'Open Sans SemiBold';
    border-bottom: 1px white solid;
    font-size: 20px;
    width: 112px;
    height: 24px;
    align-self: flex-end;
}

.block2_info-text {
    font-family: 'Open Sans Regular';
    font-size: 16px;
    line-height: 24px;
    flex-basis: 100%;
    margin-top: 0;
    height: 50%;
}

.block2__learn-more:hover {
    cursor: pointer;
    color: #FF9C41;
    border-bottom: 1px #FF9C41 solid;
}

.block2__item {
    display: flex;
    flex-wrap: wrap;
    width: 234px;

}

.block2__info div:nth-child(1) {
    margin-right: 142px;
}

.block2__info div:nth-child(2) {
    margin-right: 145px;
}

.block3__title {
    display: flex;
    padding-top: 170px;
}

.block3__title p {
    font-size: 18px;
    font-family: 'Open Sans Regular';
    line-height: 26px;
}

.block3__title h2 {
    margin-left: 217px;
    margin-right: 95px;
    font-size: 24px;
    line-height: 35px;
    font-family: 'Open Sans ExtraBold';
}

.block3__main {
    display: flex;
    height: 851px;
    width: 100%;
    padding-top: 168px;
}

.block3 video {
    width: 788px;
    height: 683px;
    margin-right: 129px;
}

.block3__description {
    width: 649px;
}
