@font-face {
    font-family: Open Sans SemiBold; /* Имя шрифта */
    src: url(../fonts/OpenSansSemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans ExtraBold; /* Имя шрифта */
    src: url(../fonts/OpenSansExtraBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Open Sans Regular; /* Имя шрифта */
    src: url(../fonts/OpenSansRegular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0;
}



@media (min-width: 320px) {

    .block__home {
        background: url(../image/image1.png) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 8vw;

    }

    .block__home--right-side {
        display: flex;
        align-items: center;
    }


    .block__home--search {
        display: none;
    }
    .block__home--company-logo {
        display: flex;
    }

    .block__home--company-logo img {
        margin-right: 2vw;
    }

    .block__home header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 6vw;
        justify-content: space-between;
    }

    .block__home--nav-buttons {
        display: none;
    }

    .block__home--right-side-navicon div {
        width: 21px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
    }

    .block__home--right-side-navicon {
        cursor: pointer;
    }

    .block__home--icons {
        display: none;
    }

    .block__home main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8vw;
    }

    .block__home--main-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .block__home main h1 {
        font-family: 'Open Sans ExtraBold';
        font-size: 26px;
    }

    .block__home main span {
        color: #FF9C41;
    }

    .block__home main p {
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
        line-height: 24px;
        margin-bottom: 42px;
    }


    .block__home main button {
        cursor: pointer;
        background: #FF9C41;
        border: none;
        border-radius: 2em;
        width: 230px;
        height: 55px;
        color: white;
        margin-bottom: 42px;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }


    .block__services {
        color: white;
        display: flex;
        flex-direction: column;
        background: url(../image/image2.png) no-repeat;
        background-size: cover;
        padding-left: 8vw;
        margin-bottom: 42px;
    }

    .block__services--learn-more {
        font-family: 'Open Sans SemiBold';
        border-bottom: 1px white solid;
        font-size: 20px;
        width: 112px;
        height: 24px;
        justify-self: flex-end;
    }

    .block__services--learn-more:hover {
        cursor: pointer;
        color: #FF9C41;
        border-bottom: 1px #FF9C41 solid;
    }

    .block__services--item {
        margin-bottom: 54px;
    }


    .block__advantages--title {
        padding: 0 8vw;
    }

    .block__advantages--description {
        padding: 0 8vw;
    }

    .plyr [hidden] {
        display: flex !important;
    }

    .block__advantages .plyr__volume {
        margin-right: 20px;
    }

    .block__advantages .plyr__volume {
        justify-content: flex-end;
        max-width: 100%;
    }

    .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
        background: none;
        color: orange;
    }

    .block__advantages .plyr {
        width: 782px;
        height: 500px;
    }

    .block__advantages .plyr__progress__buffer {
        background: white;
    }

    .block__advantages .plyr--full-ui input[type=range] {
        width: inherit;
    }

    .plyr--full-ui input[type=range] {
        color: orange;
    }

    .plyr__control {
        color: orange;
    }

    .block__advantages .plyr__controls {
        height: 112px;
        display: none;
    }

    .block__advantages .plyr__progress {
        width: 100%;
        left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        top: 100px;
        margin-right: 13px;
        position: absolute;
        bottom: 0;
        height: 19px;
    }

    .block__advantages .plyr__progress__buffer {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .block__advantages .plyr__poster {
        background: url(../image/mobile/videomob@2x.png) no-repeat;
        background-size: 100% 100%;
    }

    .block__advantages video {
        height: 100%;
    }

    .block__advantages .plyr__video-wrapper {
        height: 100%;
    }

    .block__advantages .plyr__control--overlaid {
        background: url(../image/play.svg) no-repeat;
        background-size: cover;

        width: 110px;
        height: 110px;
    }

    .block__advantages .plyr__control--overlaid:hover{
        background: url(../image/play.svg) no-repeat;
    }

    .block__advantages .plyr__control--overlaid svg {
        display: none;
    }

    .block__interiors-desktop {
        display: none;
    }

    .block__interiors-mobile h1 {
        margin-top: 0;
        margin-bottom: 28px;
        color: white;
        font-size: 28px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__interiors-mobile h2 {
        margin-bottom: 9px;
        font-size: 20px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__interiors-mobile p {
        font-size: 14px;
        font-family: 'Open Sans SemiBold';
        margin-bottom: 36px;
    }

    .block__interiors-mobile header {
        background: url(../image/mobile/image3mob.png) no-repeat;
        background-size: 100% 100%;
        height: 528px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 8vw;
    }

    .block__interiors-mobile main {
        height: 300px;
        background: #F6F8F9;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 8vw;
    }

    .block__interiors-mobile main button {
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        border: 2px #FF9C41 solid;
        border-radius: 28px;
        width: 212px;
        height: 55px;
        color: #FF9C41;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__interiors-mobile--button-next {
        width: 60px;
        border: none;
        padding: 0;
        height: 60px;
        margin-bottom: 16px;
        font-size: 46px;
        border-radius: 100px;
        font-weight: bold;
        background: white;
        cursor: pointer;
    }


    .plyr__control svg {
        height: 12px;
        width: 12px;
        position: relative;
        left: 2px;
    }

    .block__ourteam--audio-set {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .block__ourteam--audio-person {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .block__ourteam--audio-slider div:hover {
        background: #FF9C41;
    }

    .block__ourteam--audio-slider {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .block__ourteam--description {
        padding: 0 8vw;
    }

    .block__ourteam--audio-slider div {
        height: 20px;
        width: 20px;
        border: none;
        border-radius: 28px;
        background: rgba(255, 157, 65, 0.431);
    }

    .block__ourteam .block__ourteam--audio-person:nth-child(n+2) {
        display: none;
    }

    .block__ourteam--audio-item {
        width: 320px;
        height: 310px;
        position: relative;
    }

    .block__ourteam .plyr {
        display: flex;
        justify-content: flex-end;
    }

    .block__ourteam .plyr__controls {
        background: none;
        width: 108px;
    }

    .block__ourteam .plyr__time {
        display: none;
    }

    .block__ourteam .plyr__control {
        color: black;
        background: #FF9C41;
        width: 50px;
        height: 50px;
        top: 16px;
        left: 300px;
        position: absolute;
        display: flex;
        justify-content: center;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .block__ourteam .plyr__progress {
        margin-right: 13px;
        top: 58px;
        display: none;
        position: relative;
        width: 100%;
        left: 40px;
    }

    .block__ourteam .plyr__volume {
        display: none;
        position: relative;
        top: 22px;
        right: 38px;
        transform: rotate(270deg);
    }

    .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
        background: orange;
        color: black;
    }

    .block__ourteam .plyr__control--pressed {
        background: rgba(0, 0, 0, 0.7) !important;
        color: orange !important;
    }

    .block__ourteam .plyr__volume input {
        width: 28px;
    }


    .block__ourteam--audio1 {
        background: url(../image/portrait1.png);
        background-size: cover;
    }

    .block__ourteam--audio2 {
        background: url(../image/portrait2.png);
    }

    .block__ourteam--audio3 {
        background: url(../image/portrait3.png);
    }

    .block__ourteam--audio4 {
        background: url(../image/portrait4.png);
    }

    .block__ourteam--audio5 {
        background: url(../image/portrait5.png);
    }

    .block__ourteam--audio6 {
        background: url(../image/portrait6.png);
    }

    .block__ourteam--audio-person p {
        font-size: 16px;
        font-family: 'Open Sans Regular';
        margin-top: 8px;
    }

    .block__ourteam--audio-person h2 {
        font-family: 'Open Sans ExtraBold';
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .block__ourteam--audio-volume {

        cursor: pointer;
        height: 88px;
        width: 27px;
        background: rgba(0,0,0,0.5);
        border-radius: 24px;
        border: 2px orange solid;
        display: none;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 29px;
        bottom: 76px;
    }

    .block__ourteam--audio-mute {
        background: url(../image/speaker2.svg) no-repeat;
        background-size: cover;
        width: 7%;
        height: 7%;
        position: absolute;
        right: 34px;
        bottom: 30px;
        display: none;
    }

    .block__ourteam--audio-mute:hover {
        cursor: pointer;
    }

    .block__ourteam--audio-volume p {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        display: flex;
        height: 35%;
        width: 100%;
        color: orange;
        justify-content: center;
        align-items: center;
        font-size: 29px;
        position: relative;
    }

    .block__ourteam--audio-volume p:first-child {
        bottom: 9px;
    }

    .block__ourteam--audio-volume p:last-child {
        top: 6px;
    }



    .block__ourteam--audio-volume p:hover {
        background: orange;
        color: white;

    }

    .block__ourteam main {
        margin-bottom: 32px;
    }

    .block__ourteam--feedback {
        display: flex;
        background: url(../image/image4.png) no-repeat;
        background-size: cover;
        height: 352px;
        flex-wrap: wrap;
        padding: 0 8vw;
        flex-direction: column;
    }

    .block__ourteam--feedback div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block__ourteam--feedback h2 {
        font-size: 28px;
        font-family: 'Open Sans ExtraBold';
        color: white;
        width: 100%
    }

    .block__ourteam input {
        color: white;
        font-size: 18px;
        font-family: 'Open Sans Regular';
        height: 42px;
        border: none;
        margin-bottom: 64px;
        width: 100%;
        border-bottom: 2px white solid;
        background: rgba(0,0,0,0);
    }

    .block__ourteam button {
        cursor: pointer;
        background: white;
        padding: 0;
        border: none;
        border-radius: 2em;
        width: 230px;
        height: 55px;
        color: #FF9C41;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__ourteam--audio-volume p {
        margin: 0;
    }

    .block__ourprojects-desktop {
        display: none;
    }

    .block__ourprojects-mobile {
        margin-bottom: 32px;
    }

    .block__ourprojects-mobile--photo-gallary {
        display: flex;
        justify-content: flex-end;
    }

    .block__ourprojects-mobile main {
        display: flex;
        flex-direction: column;
    }

    .block__ourprojects-mobile main h2{
        font-size: 28px;
        margin-left: 8vw;
        font-family: 'Open Sans ExtraBold';
    }

    .block__ourprojects-mobile--gallary {
        background: url(../image/mobile/project1mob@2x.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 418px;
        color: white;
        margin-bottom: 24px;
        width: 100%;
    }

    .block__ourprojects-mobile--button-next {
        width: 60px;
        border: none;
        padding: 0;
        height: 60px;
        margin-bottom: 16px;
        margin-right: 8vw;
        font-size: 46px;
        border-radius: 100px;
        font-weight: bold;
        background: white;
        cursor: pointer;
    }

    .block__ourprojects-mobile--photo-slider div:hover {
        background: #FF9C41;
    }

    .block__ourprojects-mobile--photo-slider {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        align-self: center;
    }

    .block__ourprojects-mobile--photo-slider div {
        height: 20px;
        width: 20px;
        border: none;
        border-radius: 28px;
        background: rgba(255, 157, 65, 0.431);
    }

    .block7 {
        padding:0 8vw;
    }

    .block7 > div:last-child {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .block7__icons {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
    }

    .block7__icons img {
        cursor: pointer;
        width: 17px;
        height: 17px;
        margin-right: 8px;
    }

    .block7__copyright {
        display: flex;
    }

    .block7__copyright img {
        margin-right: 16px;
    }

    .block7__desktop-company-info {
        display: none;
    }

    .block7__mobile-company-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 48px;
    }

    .block7__mobile-company-info div {
        flex-basis: 29%;
    }

    .block7__mobile-company-info div:nth-of-type(3n+1){
        margin-right: 16px;
    }


    .block7__mobile-company-info p {
        font-size: 16px;
        font-family: 'Open Sans ExtraBold';
        margin-top: 0;
    }

    .block7__mobile-company-info div:nth-child(3n+2) {
        margin-right: 16px;
    }

    .block7__mobile-company-info div:nth-child(3n+2) {
        margin-right: 18px;
    }
}

@media (min-width: 480px) {
    .block__services {
        padding: 0 8vw;
    }

    .block__services--info {
        display: flex;
        justify-content: space-between;
    }

    .block__services--item {
        margin-right: 8px;
        display: flex;
        flex-direction: column;
    }

    .block__services--info-text {
        height: 50%;
    }
}

@media (min-width: 570px) {

    .block__advantages--main {
        display: flex;
        flex-direction: column;
        margin-bottom: 42px;
    }

    .block__advantages .plyr {
        align-self: center;
        margin-bottom: 24px;
    }

    .block__advantages--description {
        display: flex;
        justify-content: space-between;
    }

    .block__advantages--description div {
        margin-right: 8px;
    }

    .block__advantages--description div:last-child {
        margin-right: 0;
    }

    .block__interiors-mobile {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 128px;
    }

    .block__interiors-mobile main {
        height: auto;
        background: #F6F8F9;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 8vw;
        justify-content: center;
    }

    .block__interiors-mobile header {
        background: url(../image/image3@2x.png) no-repeat;
        background-size: 100% 100%;
        width: 100%;
    }

    .block__interiors-mobile h1 {
        color: #000;
        width: 50%;
    }

    .block__ourteam main {
        display: flex;
        padding: 0 8vw;
        justify-content: center;
    }

    .block__ourteam--description {
        padding: 0;
    }

    .block__ourteam--description h1 {
        margin-top: 0;
    }


    .block__ourprojects-mobile--gallary {
        background: url(../image/project1@2x.png) no-repeat;
        background-size: 100% 100%;
        width: 70%;
        height: 545px;
        align-self: center;
    }
}

@media (min-width: 940px) {

    .block__home main h1 {
        font-size: 5vw;
    }
    .block__advantages--title {
        padding: 0 8vw;
        display: flex;
        justify-content: space-between;
    }

    .block__advantages h2 {
        margin-top: 0;
        margin-right: 16px;
    }

    .block__advantages p {
        margin-top: 0;
    }
}

@media (min-width: 1600px) {

    .block__home {
        background: url(../image/image1.png) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 801px;
        padding:0;
    }

    .block__home header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        justify-content: space-between;
        padding: 0 209px;
    }

    .block__home--left-side {
        display: flex;
        flex-wrap: wrap;
    }

    .block__home--left-side input {
        background: rgba(0, 0, 0, 0);
        border: none;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__home--search {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .block__home--button-search {
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        border: none;
        margin-right: 22px;
        padding-top: 3px;
    }

    .block__home .logo {
        margin-right: 15px;
    }

    .block__home--left-side p {
        font-size: 19px;
        font-family: 'Open Sans SemiBold';
        margin: 12px 0;
    }

    .block__home--right-side {
        padding-right: 5px;
    }

    .block__home--right-side p {
        background: rgba(0, 0, 0, 0);
        border: none;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__home--nav-buttons {
        display: flex;
        align-items: center;
        height: 50px;
    }

    .block__home--right-side p:hover {
        cursor: pointer;
        border-bottom: 2px black solid;
    }

    .block__home--right-side div {
        margin-left: 40px;
    }

    .block__home--right-side p:nth-child(2) {
        margin-left: 51px;
    }

    .block__home--right-side p:nth-child(3) {
        margin-left: 50px;
    }


    .block__home main {
        display: flex;
        justify-content: unset;
        align-items: center;

        padding-left: 198px;

        height: 100%;
        margin-top: 87px;
    }

    .block__home--main-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 57%;
    }

    .block__home main h1 {

        margin-bottom: 33px;
        margin-top: 68px;
        font-family: 'Open Sans ExtraBold';
        line-height: 85px;
        font-size: 72px;
    }

    .block__home main span {
        color: #FF9C41;
    }

    .block__home main p {
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
        margin-right: 192px;
        line-height: 24px;
        margin-bottom: 120px;
    }


    .block__home main button {
        cursor: pointer;
        background: #FF9C41;
        border: none;
        border-radius: 2em;
        width: 230px;
        height: 55px;
        color: white;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__home--icons {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 59%;
        margin-right: 158px;
    }

    .block__home--icons img {
        cursor: pointer;
        width: 17px;
        height: 17px;
        margin: 0 13px;
    }

    .block__home--icons img:hover {
        filter: invert(76%) sepia(61%) saturate(2775%) hue-rotate(329deg) brightness(105%) contrast(103%);
    }

    .block__services {
        color: white;
        display: flex;
        flex-direction: column;
        background: url(../image/image2.png) no-repeat;
        background-size: cover;
        padding-left: 216px;
        padding-top: 84px;
        margin-bottom: 188px;
        height: 721px;
    }

    .block__services h1 {
        font-size: 70px;
        font-family: 'Open Sans ExtraBold';
        margin-bottom: 42px;

    }

    .block__services h2 {
        font-size: 34px;
        font-family: 'Open Sans ExtraBold';
        line-height: 42px;
        margin-bottom: 28px;
    }

    .block__services--info {
        display: flex;
        justify-content: unset;
    }

    .block__services--info-text {
        font-family: 'Open Sans Regular';
        font-size: 16px;
        line-height: 24px;
        flex-basis: 100%;
        margin-top: 0;
        margin-bottom: 29px;
        height: 50%;
    }



    .block__services--item {
        display: flex;
        width: 234px;

    }

    .block__services--info div:nth-child(1) {
        margin-right: 142px;
    }

    .block__services--info div:nth-child(2) {
        margin-right: 145px;
    }

    .block__advantages {
        display: flex;
        flex-wrap: wrap;
    }

    .block__advantages--title {
        display: flex;
        justify-content: unset;
        padding: 0;
        flex-basis: 100%;
        margin-bottom: 170px;
    }

    .block__advantages--title p {
        font-size: 18px;
        font-family: 'Open Sans Regular';
        line-height: 26px;
    }

    .block__advantages h2 {
        font-size: 24px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__advantages--title h2 {
        margin-left: 217px;
        margin-right: 95px;
        line-height: 35px;
    }

    .block__advantages--description {
        width: 649px;
        flex-direction: column;
        justify-content: unset;
        padding:0;
    }

    .block__advantages--description p {
        font-size: 16px;
        font-family: 'Open Sans Regular';
        line-height: 25px;
    }

    .block__advantages--description p:nth-of-type(1) {
        margin-bottom: 62px;
        line-height: 26px;
    }

    .block__advantages--description p:nth-of-type(2) {
        margin-bottom: 62px;
    }


    .block__advantages--description h2:nth-child(1) {
        margin-top: 0;
        margin-bottom: 19px;
    }


    .block__advantages--main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
        margin-bottom: 1px;
        height: 864px;
        width: unset;
    }

    .block__advantages .plyr__volume {
        margin-right: 20px;
    }

    .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
        background: none;
        color: orange;
    }

    .block__advantages .plyr {
        width: 785px;
        height: 684px;
        margin-right: 130px;
        align-self: unset;
        margin-bottom: 0;
    }

    .block__advantages .plyr__progress__buffer {
        background: white;
    }

    .plyr__control {
        color: orange;
    }

    .plyr [hidden] {
        display: flex !important;
    }

    .block__advantages .plyr__controls {
        height: 112px;
        display: none;
    }

    .block__advantages .plyr__progress {
        width: 100%;
        left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        top: 100px;
        margin-right: 13px;
        position: absolute;
        bottom: 0;
        height: 19px;
    }

    .block__advantages .plyr__progress__buffer {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .block__advantages video {
        height: 100%;
    }

    .block__advantages .plyr__video-wrapper {
        height: 100%;
    }

    .block__advantages .plyr__control--overlaid {
        background: url(../image/play.svg) no-repeat;
        background-size: cover;

        width: 110px;
        height: 110px;
    }

    .block__advantages .plyr__control--overlaid:hover{
        background: url(../image/play.svg) no-repeat;
    }

    .block__advantages .plyr__control--overlaid svg {
        display: none;
    }

    .block__interiors-mobile {
        display: none;
    }


    .block__interiors-desktop {
        display: flex;
        height: 803px;
        background: url(../image/image3@2x.png) no-repeat;
        background-size: cover;
        justify-content: flex-start;
        margin-bottom: 30px;
        position: relative;

    }

    .block__interiors-desktop h1 {
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 45px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__interiors-desktop h2 {
        font-size: 24px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__interiors-desktop p {
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
        line-height: 24px;
        margin-bottom: 89px;
        margin-top: 3px;
    }

    .block__interiors-desktop--left-side {
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-basis: 570px;
        padding-top: 190px;
        padding-left: 215px;
    }


    .block__interiors-desktop--button-view {
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        border: 2px #FF9C41 solid;
        border-radius: 2em;
        width: 230px;
        height: 55px;
        color: #FF9C41;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__interiors-desktop--button-next {
        width: 60px;
        border: none;
        padding: 0;
        height: 60px;
        font-size: 46px;
        position: relative;
        left: 540px;
        display: flex;
        border-radius: 100px;
        top: 100px;
        font-weight: bold;
        background: white;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }


    .block__interiors-desktop--page-line {
        background: #333333;
        width: 2px;
        height: 160px;
        position: relative;
        bottom: 2px;
        right: 2px;
    }

    .block__ourteam {
        display: flex;
        padding-top: 110px;
        flex-direction: column;
    }

    .block__ourteam main {
        margin-bottom: 62px;
        display: flex;
        flex-direction: column;
    }

    .block__ourteam--description {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 75px;
        padding: 0 0 0 88px;
    }

    .block__ourteam--description h1 {
        font-size: 45px;
        font-family: 'Open Sans ExtraBold';
        margin-bottom: 42px;
        flex-basis: 100%;
    }

    .block__ourteam--description h2 {
        flex-basis: 43%;
        font-size: 24px;
        margin-top: 19px;
        margin-right: 58px;
        font-family: 'Open Sans ExtraBold';
    }

    .block__ourteam--description p {
        font-size: 18px;
        font-family: 'Open Sans Regular';
        color: #676767;
        flex-basis: 43%;
    }

    .block__ourteam--audio-set {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4px;
        padding-left: 31px;
    }

    .block__ourteam--audio-person {
        flex-basis: 29%;
        margin-bottom: 52px;
        display: block;
    }

    .block__ourteam .block__ourteam--audio-person:nth-child(n+2) {
        display: block;
    }

    .block__ourteam--audio-item {
        width: 369px;
        height: 359px;
        margin-right: 32px;
    }

    .block__ourteam--audio-slider {
        display: none;
    }

    .block__ourteam .plyr__controls {
        background: none;
    }

    .block__ourteam .plyr__time {
        display: none;
    }

    .block__ourteam .plyr__control {
        color: black;
        background: #FF9C41;
        width: 50px;
        height: 50px;
        top: 16px;
        left: 300px;
        position: absolute;
        display: flex;
        justify-content: center;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    .block__ourteam .plyr__progress {
        margin-right: 13px;
        top: 58px;
        display: none;
        position: relative;
        width: 70%;
        left: 32px;
    }

    .block__ourteam .plyr__volume {
        display: none;
        position: relative;
        right: 48px;
        bottom: 0;
        transform: rotate(270deg);
    }

    .plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
        background: orange;
        color: black;
    }

    .block__ourteam .plyr__control--pressed {
        background: rgba(0, 0, 0, 0.7) !important;
        color: orange !important;
    }

    .block__ourteam--audio1 {
        background: url(../image/portrait1.png);
    }

    .block__ourteam--audio2 {
        background: url(../image/portrait2.png);
    }

    .block__ourteam--audio3 {
        background: url(../image/portrait3.png);
    }

    .block__ourteam--audio4 {
        background: url(../image/portrait4.png);
    }

    .block__ourteam--audio5 {
        background: url(../image/portrait5.png);
    }

    .block__ourteam--audio6 {
        background: url(../image/portrait6.png);
    }

    .block__ourteam--audio-person p {
        font-size: 16px;
        margin-top: 8px;
    }

    .block__ourteam--audio-person h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .block__ourteam--audio-volume p {
        font-size: 29px;
        margin: 0;
        position: relative;
    }

    .block__ourteam footer {
        display: flex;
        padding-top: 137px;
        background: url(../image/image4.png) no-repeat;
        background-size: cover;
        height: 398px;
        margin-bottom: 138px;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 401px;
    }

    .block__ourteam footer div {
        flex-direction: unset;
    }

    .block__ourteam footer h2 {
        font-size: 45px;
        color: white;
        height: 65px;
        margin: 0 0 66px;
    }

    .block__ourteam input {
        color: white;
        font-size: 18px;
        height: 42px;
        margin-bottom: 0;
        border: none;
        width: 499px;
        padding-top: 9px;
        margin-right: 70px;
        border-bottom: 2px white solid;
        background: rgba(0, 0, 0, 0);
    }

    .block__ourteam--send-request {
        cursor: pointer;
        background: white;
        padding: 0;
        border: none;
        border-radius: 2em;
        width: 230px;
        height: 55px;
        color: #FF9C41;
        font-size: 16px;
        font-family: 'Open Sans SemiBold';
    }

    .block__ourprojects-mobile {
        display: none;
    }

    .block__ourprojects-desktop {
        display: block;
        margin-bottom: 158px;
    }

    .block__ourprojects-desktop--background {
        position: absolute;
        display: none;
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        align-items: flex-end;
    }

    .block__ourprojects-desktop--photo-gallary {
        display: flex;
        justify-content: flex-end;
    }

    .block__ourprojects-desktop main h2 {
        font-size: 45px;
        font-family: 'Open Sans ExtraBold';
        margin: 13px 0 90px 215px;
    }

    .block__ourprojects-desktop--photo-gallary h3 {
        color: white;
        font-size: 35px;
        font-family: 'Open Sans ExtraBold';
        margin: 0 0 48px 83px;
        display: none;
    }

    .block__ourprojects-desktop--gallary-item {
        width: 418px;
        height: 746px;
        position: relative;
    }

    .block__ourprojects-desktop--gallary-item:hover {
        cursor: pointer;
    }

    .block__ourprojects-desktop--gallary-item:hover div {
        display: flex;
    }

    .block__ourprojects-desktop--gallary-item:hover h3 {
        display: initial;
    }

    .block__ourprojects-desktop--gallary-item:nth-child(1) {
        background: url(../image/project1.png) no-repeat;
    }

    .block__ourprojects-desktop--gallary-item:nth-child(2) {
        background: url(../image/project2.png) no-repeat;
    }

    .block__ourprojects-desktop--gallary-item:nth-child(3) {
        background: url(../image/project3.png) no-repeat;
    }

    .block__ourprojects-desktop--gallary-item:nth-child(4) {
        background: url(../image/project4.png) no-repeat;
        width: 132px;
    }

    .block7 {
        display: flex;
        padding: 0;

        padding-top: 50px;
        border-top: 1px black solid;


        font-size: 14px;
        font-family: 'Open Sans Regular';
    }

    .block7__mobile-company-info {
        display: none;
    }

    .block7__desktop-company-info {
        display: flex;
        flex-basis: 65%;
        flex-wrap: wrap;
        margin-left: 216px;

    }

    .block7__desktop-company-info p:hover {
        cursor: pointer;
    }

    .block7__desktop-company-info div:nth-child(1) {
        margin-right: 100px;
    }

    .block7__desktop-company-info div:nth-child(2) {
        margin-right: 87px;
    }

    .block7__desktop-company-info div:nth-child(3) {
        margin-right: 83px;
    }

    .block7__desktop-company-info div:nth-child(4) {
        margin-right: 53px;
    }

    .block7__desktop-company-info p:first-child {
        font-size: 16px;
        font-family: 'Open Sans ExtraBold';
        margin-top: 0;
    }

    .block7__icons {
        margin-bottom: 72px;
        display: block;
        padding-bottom: 0;
    }

    .block7 > div:last-child {
        flex-direction: column;
        justify-content: unset;
    }

    .block7__icons img {
        cursor: pointer;
        width: 17px;
        height: 17px;
        margin-right: 24px;
    }

    .block7__icons img:last-child {
        margin-right: 0;
    }

    .block7__icons img:hover {
        filter: invert(76%) sepia(61%) saturate(2775%) hue-rotate(329deg) brightness(105%) contrast(103%);
    }


    .block7__copyright {
        margin-left: 5px;
        line-height: 23px;
        display: block;
    }

}
